$primaryColor: #FFFFFF;
$secondaryColor: #111111;
$blueColor:#09C1DB;
$pupleColor:#A721FF;
$superColor:#F8F8FC;
$adminColor:#001C41;
$greenColor:#49CC90;
$orangeColor:rgb(255,99,47);
$yellowColor:#FEBD69;